In [1]:
import pandas as pd

# Create A series Object from Python list

# Object also mean String

In [2]:
ice_cream = ["Chocolate", "Vanilla","Strawberry", "blueberry"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3     blueberry
dtype: object

In [3]:
lottery =[4,8,15,16,23,42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
registration=[True, False, True, True, False]
pd. Series(registration)

0     True
1    False
2     True
3     True
4    False
dtype: bool

# Create A series Object from a Dictonary

In [6]:
Webster ={"Aardvark": "An Animal",
         "Banana": "Is a fruit",
         "Soda": "Is a drink"}
pd.Series(Webster)

Aardvark     An Animal
Banana      Is a fruit
Soda        Is a drink
dtype: object

# Intro to Attribute

In [8]:
about_new_york = ["Entertainment","Rich culture", "Expensive", "Food"]
pd.Series(about_new_york)

0    Entertainment
1     Rich culture
2        Expensive
3             Food
dtype: object

# Intro to methods

In [11]:
prices =[4.99,3.20,7.50,8.40]
s=pd.Series(prices)
s

0    4.99
1    3.20
2    7.50
3    8.40
dtype: float64

In [12]:
s

0    4.99
1    3.20
2    7.50
3    8.40
dtype: float64

In [13]:
s

0    4.99
1    3.20
2    7.50
3    8.40
dtype: float64

In [15]:
#this will add up all the value

s.sum()

24.090000000000003

In [16]:
# multiply all the value
s.product()

1005.9840000000002

In [17]:
s.mean()

6.022500000000001

# Parameters and Arguments

In [22]:
#parameter = arguments

fruits = [" orange","apple", "banana", "pineapple"] # length has to be the same
weekday = ["monday","tuesday","wednesday","thursday"]

pd.Series(fruits, weekday)

monday          orange
tuesday          apple
wednesday       banana
thursday     pineapple
dtype: object

In [25]:
#another way to write the above
pd.Series(data = fruits, index = weekday)

monday          orange
tuesday          apple
wednesday       banana
thursday     pineapple
dtype: object